<div class="container-fluid border border-dark m-3 rounded">
	
	<h5>{{ (doc.name) |e }}</h5>
	<div class="d-flex p-2">
		<p>{{ (doc.source_airport_code) }}</p>
		<p>--></p>
		<p>{{ (doc.destination_airport_code) }}</p>
	</div>

	<div style="gap: 5px;" class="d-flex p-2 ">
		<p>{{ (doc.date_of_departure) }}</p>
		<p>|</p>
		<p>{{ (doc.time__of_departure) }}</p>
		<p>|</p>
		<p>{{ (doc.duration) }}</p>
	</div>
	<a href="/{{ doc.route |e }}" style="color: blue;">View Flight</a>
</div>
<!-- this is a sample default list template -->

<style>
	.flightBox{
		border: 1px solid gray;
		background-color: aqua;
	}
	.journeyDetail{
		background-color: blueviolet;
	}
</style>